<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/lootz</property>
        <property name="connection.username">looter</property>
        <property name="connection.password">crazyL00t</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialet">org.hibernate.dialect.MySQLDialect</property>
        <mapping class ="lootweb.domain.Boss"/>
        <mapping class ="lootweb.domain.Loot"/>
        <mapping class ="lootweb.domain.Greeting"/>
    </session-factory>

</hibernate-configuration>